In [1]:
list1=[100,200,300]
list1.append([100,200])

In [2]:
list1

[100, 200, 300, [100, 200]]

In [3]:
list1.append('apple')
list1

[100, 200, 300, [100, 200], 'apple']

In [4]:
list1=[1,2,3,4,5]
# sqaure of the list

In [5]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
print(output)

[1, 4, 9, 16, 25]

In [19]:
list2=['hyd','bengaluru','delhi']
List2=[]
for i in list2:
    List2.append(i.capitalize())
List2

['Hyd', 'Bengaluru', 'Delhi']

In [27]:
list3=['hyd','bengaluru','delhi']
List3=[]
for i in range(len(list3)):
    List3.append(list3[i].capitalize())
List3

['Hyd', 'Bengaluru', 'Delhi']

In [58]:
list4=['hy#d','benga#luru','delhi']
out=[]
for i in list4:
    if '#' in i:
        out.append(i)
out

['hy#d', 'benga#luru']

**list comprehension**

In [ ]:
# code in single line======> speed the process
list1=[1,2,3,4,5]   #input
output=[]
for i in list1:
    output.append(i*i)
print(output)

In [60]:
list2=['hyd','bengaluru','delhi']
List2=[]
for i in list2:
    List2.append(i.capitalize())
List2

['Hyd', 'Bengaluru', 'Delhi']

In [63]:
output2=[i.capitalize() for i in list2]
output2

['Hyd', 'Bengaluru', 'Delhi']

In [ ]:
#create the list of 20 numbers from 1 20

In [72]:
#Method 1
for i in range(1,21):
    print(i, end=', ')

#Method 2
listn=[]
for i in range(1,21):
    listn.append(i)
listn

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [68]:
#Method 3
listb=[i for i in range(1,21)]
listb

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [73]:
#find #
#Method 1
list4=['hy#d','benga#luru','delhi']
out=[]
for i in list4:
    if '#' in i:
        out.append(i)
out

['hy#d', 'benga#luru']

In [75]:
#in one line code
# stntax   output=[output, for loop, if condtion ]
output1=[i for i in list4 if '#' in i]
output1

['hy#d', 'benga#luru']

In [77]:
list4=['abcd','abc','ac','a']
#elemnts are less then 3
for i in list4:
    if len(i)<3:
        print(i)

ac
a

In [82]:
list4=['abcd','abc','ac','a']
List4=[]
#elemnts are less then 3
for i in list4:
    if len(i)<3:
        List4.append(i)

List4

UUU
UUU

['ac', 'a']

In [81]:
outtt=[i for i in list4 if len(i)<3]
outtt

['ac', 'a']

In [85]:
list1=[1,2,3,4,5,6]
output=[]
for i in list1:
    if i%2==0:
        output.append("Even: {}".format(i))
    else:
        output.append("Odd: {}".format(i))
output

['Odd: 1', 'Even: 2', 'Odd: 3', 'Even: 4', 'Odd: 5', 'Even: 6']

In [88]:
# syntax for if and else condition with for loop
# [<if_output> if condition else <else output> <for loop>]
outt=["Even: {}".format(i) if i%2==0 else "Odd: {}".format(i) for i in list1 ]
outt

['Odd: 1', 'Even: 2', 'Odd: 3', 'Even: 4', 'Odd: 5', 'Even: 6']

In [89]:
list1=[1,2,3,'A','B','B','B','C']
list1.count("B")

3

***extend***

In [90]:
list1=['a','b','c']
list2=[1,2,3]
list1.extend(list2)
list1

['a', 'b', 'c', 1, 2, 3]

In [92]:
list3=[4,5,6]

In [95]:
list1=list1+list3

In [6]:
list1

['Who is PM of India',
 'What is the capital of India',
 'Who is the president of India']

In [97]:
list2=[1,2,3]

***append vs extend vs concat***

- append will ad the elment at last, that element can be any type  
    - list 1= [1,2,3]
    - list 2 = [ 'a','b']
    - list1.append(list2)
    - ***Output=[1,2,3,[ 'a','b']]***
- Extend will update list by adding new elments, the result als save in sam elist
    - list 1= [1,2,3]
    - list 2 = [ 'a','b']
    - list1.extend(list2)
    - ***Output=[1,2,3,'a','b']***
- concat will ad two list , but the result will not update in same list
    - list 1= [1,2,3]
    - list 2 = [ 'a','b']
    - list3= list1+list2
    - - ***Output=[1,2,3,'a','b']***

### iterator

- iterator word ======. loop
- the elments we can print using for loop
- string='python' we can print each letter for using for loop
- list1=[1,2,3] we can print each elment using for loop

In [110]:
val=reversed('python')
val

In [111]:
for i in val:
    print(i)

n
o
h
t
y
p

In [112]:
list1=[1,2,3]
list1.extend('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [113]:
list1.append('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

***pop-remove-del***

In [121]:
list1=[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']
list1.pop()
#inside bracket default argument is there index = -1
# if you not provide any value it will remove last value

'python'

In [122]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [123]:
list1.pop(4)

'y'

In [124]:
list1

[1, 2, 3, 'p', 't', 'h', 'o', 'n']

In [130]:
list1=[100, 1, 3, 100,2,'p', 'y', 't', 'h', 'o', 'n', 'python']   #Duplicated are allowed
list1.remove(100)     #delete first value   #Takes value
list1                 #takes one arguments

[1, 3, 100, 2, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [128]:
list1=[100, 1, 3, 100,2,'p', 'y', 't', 'h', 'o', 'n', 'python']   #Duplicated are allowed
list1.remove()     #delete first value
list1               #

TypeError: list.remove() takes exactly one argument (0 given)

In [133]:
list1=[100, 5, 3, 100,5,'p', 'y', 't', 'h', 'o', 'n', 'python']  #del is a keyword
del list1[5]         #it takes index
list1

[100, 5, 3, 100, 5, 'y', 't', 'h', 'o', 'n', 'python']

- index
- insert
- reverse ============= revesed
- sort ================= sorted

In [136]:
list1=[100, 5, 3, 1,100,5,'p', 'y', 't', 'h', 'o', 'n', 'python']
list1.index(1)
list1

[100, 5, 3, 1, 100, 5, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [148]:
list1=[100,200,300,100,400,500,'python']  #index will give value of index
list1.index(100)

0

In [151]:
list1=[100,200,300,100,400,500,'python']  #index will give value of index
list1.index(100,1)     #sytax index(<value>, starting value, end value)

3

In [153]:
list1=[100,200,300,100,400,500,'python']
list1.insert(4,200)   # assign a new value in given index
list1

[100, 200, 300, 100, 200, 400, 500, 'python']

In [166]:
list1=[100,200,300,100,400,500,'python']
for i in reversed(list1):
    print(i)

python
500
400
100
300
200
100

In [165]:
list1=[100,200,300,100,400,500,'python']
rev=[]
for i in reversed(list1):
    rev.append(i)
print(rev)
out=[i for i in reversed(list1)]
print(out)

['python', 500, 400, 100, 300, 200, 100]
['python', 500, 400, 100, 300, 200, 100]

In [169]:
list1=[200,500,100,300,1000,250,'p','y','t','a']
for i in sorted(list1):
    print(i)

TypeError: '<' not supported between instances of 'str' and 'int'

In [170]:
list1=[200,500,100,300,1000,250]
for i in sorted(list1):
    print(i)

100
200
250
300
500
1000

In [174]:
list1=[200,500,100,300,1000,250]
nlist=[]
for i in sorted(list1):
    nlist.append(i)
print(nlist)

[100, 200, 250, 300, 500, 1000]

In [175]:
output=[i for i in sorted(list1)]
output

[100, 200, 250, 300, 500, 1000]

In [176]:
list1=['A','Z','Awesh Khan','Python','Data Science']
nlist=[]
for i in sorted(list1):
    nlist.append(i)
print(nlist)

['A', 'Awesh Khan', 'Data Science', 'Python', 'Z']

In [177]:
output=[i for i in sorted(list1)]
output

['A', 'Awesh Khan', 'Data Science', 'Python', 'Z']

In [182]:
list1=["Ram","Robert","Raheem"]
list2=[25,30,35]
for i,j in zip (list1,list2):
    print("{} age is {}".format(i,j))

Ram age is 25
Robert age is 30
Raheem age is 35

In [183]:
list1=[100,200,300]
list2=[25,30,35]
for i,j in zip(list1,list2):
    print(i+j)

125
230
335

In [185]:
list1=[100,200,300]
list2=[25,30,35]
add=[]
for i,j in zip(list1,list2):
    add.append(i+j)
add

[125, 230, 335]

In [187]:
add=[i+j for i,j in zip(list1,list2)]
add

[125, 230, 335]

In [190]:
# Take 5 question in list 1
# take corresponding 
#irritate through list1
# every question shoul print
# aswer = input("tell the answe")
# if it is there : marks = marks+1
# else: no marks


#how many write answer you made, how may answer you got

SyntaxError: invalid syntax (2564556946.py, line 15)

In [212]:
list1=['Who is PM of india', 'What is capital of india', 'Who is president of india']
list2=['Modi','Delhi','Draupadi']
marks=0

for i in  range(len(list1)):
    print(list1[i])
    answer=input("Enter you answer :")
    if answer.capitalize()==list2[i]:
        marks+=1
print("Your total obtain marks is ",marks)

Who is PM of india
Enter you answer :modi
What is capital of india
Enter you answer :delhi
Who is president of india
Enter you answer :at
Your total obtain marks is  2

In [221]:
list1=['Who is PM of india', 'What is capital of india', 'Who is president of india']
list2=['Modi','Delhi','Draupadi']
marks=0
wrong=0
for i,j in zip(list1,list2):
    print(i)
    if input("Enter you answer :").capitalize()==j:
        marks+=1
    else:
        wrong+=1
print("Your total obtain marks is ",marks)
print("Your total wongs ans is ",wrong)

Who is PM of india
Enter you answer :modi
What is capital of india
Enter you answer :delhi
Who is president of india
Enter you answer :dra
Your total obtain marks is  2
Your total wongs ans is  1

In [5]:
list1 = ['Who is PM of India', 'What is the capital of India', 'Who is the president of India']
list2 = ['Modi', 'Delhi', 'Draupadi']
mark1 = sum(1 for i, j in zip(list1, list2) if input(f"{i}\nEnter your answer: ").capitalize() == j)
print("Your total obtained marks are:", mark1)

Who is PM of India
Enter your answer: modi
What is the capital of India
Enter your answer: delhi
Who is the president of India
Enter your answer: mm
Your total obtained marks are: 2

In [ ]:
list1=['Who is PM of india', 'What is capital of india', 'Who is president of india']
list2=['Modi','Delhi','Draupadi']
marks=0
wrong=0
for i,j in zip(list1,list2):
    print(i)
    if input("Enter you answer :").capitalize()==j:
        marks+=1
    else:
        wrong+=1
print("Your total obtain marks is ",marks)
print("Your total wongs ans is ",wrong)

In [3]:
list1=['Who is PM of india', 'What is capital of india', 'Who is president of india']
list2=['Modi','Delhi','Draupadi']
markss=0
wrongs=0
marksss=(markss+1 if input(f"{i} \nEnter you answer :").capitalize()==j else len(list1)-markss for i,j in zip(list1,list2) )
print("Your total obtain marks is ",markss)
print("Your total wrongs ans is ",wrongs)

Your total obtain marks is  0
Your total wrongs ans is  0

In [232]:
a = True
b = False
a and b

False

In [233]:
a&b

False

In [234]:
a|b

True

In [235]:
b|a

True

In [236]:
ab=(12,34)
ab

(12, 34)

In [237]:
type(ab)

tuple

In [245]:
ab=(('g'),'g''h')
ab

('g', 'gh')

In [246]:
type(ab)

tuple

In [248]:
a=(1,2,True,"Python")
a.add(d)

AttributeError: 'tuple' object has no attribute 'add'

In [258]:

str1 = input("Enter a string: ")

str1 = str1.lower()

if str1 == str1[::-1]:
    print("It's a palindrome!")
else:
    print("It's not a palindrome.")

Enter a string: iiiiiiiiiiiiiiIIIII
It's a palindrome!

In [261]:
l1=[1,2,3,44,5]
i=0
while True:
    l1[i]=l1[i]+100
    i+=1
    if i==len(l1):
        break

In [262]:
l1

[101, 102, 103, 144, 105]

In [263]:
output=[i+100 while True if i==len(l1)]

SyntaxError: invalid syntax (2140345444.py, line 1)