{'even': [2, 4, 6], 'odd': [1, 3, 5]}

In [55]:
d1={'even':[2,4,6],'odd':[1,3,5]}
d1

{'even': [2, 4, 6], 'odd': [1, 3, 5]}

2

In [4]:
d2={(2,4,5):'even',(1,3,5):'odd'}
d2

{(2, 4, 5): 'even', (1, 3, 5): 'odd'}

KeyError: 'even'

In [5]:
a=[1,2]
b=(1,2)
a,b=[1,2]

In [6]:
a,b

(1, 2)

In [8]:
c,d=(1,2)
c,d

(1, 2)

In [13]:
a=1,2
a

**Dictionary is a key:value pair**
 - at values positions you can take any data type
 - at keys postions list and dicstionary will fail 
 - duplicates are not allowed
 - if you will update a key, latest value will take

In [15]:
type(d1)

dict

- str
- list
- dict
- int
- float
- bool
- complex
- tuple
- set

In [36]:
d1= {'ABC':25,'DEF':30,'GHI':3}
max(d1)

'GHI'

In [37]:
d1= {'ABC':25,'DEF':30,'GHI':3}
min(d1)

'ABC'

- Maximum and minimum value based on key
- if key has numerical values we can do sum

In [38]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
d2={100:'2',300:'4'}
sum(d2)

400

In [40]:
d2={500:'2',300:'4'}
sum(d2)

800

In [41]:
d2={'500':2,'300':100}
sum(d2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
d2={500:'hi',300:'je'}
sum(d2)

800

 - what is completed
    - type
    - len
    - max
    - min
    - sum  
###### next is
- in operator

In [45]:
d1= {'Ram':25,'Raheem':30,'Robert':3}
for i in d1:
    print(i)

Ram
Raheem
Robert

In [50]:
'Ram' in d1

True

In [51]:
l1=[1,2,3,4,5]
l1[0]

1

In [52]:
str1='apple'
str1[0]

'a'

In [53]:
d1= {'Ram':25,'Raheem':30,'Robert':3}
d1[0]          #will not work

KeyError: 0

In [59]:
d1= {'Ram':25,'Raheem':30,'Robert':3}
d1['Ram']

25

In [60]:
for i in d1:
    print(i)

Ram
Raheem
Robert

In [65]:
for i in d1:
    print(d1[i])

25
30
3

In [66]:
d1={'even':[2,4,6],'odd':[1,3,5]}
d1['even'][0]

2

In [69]:
d1= {'Ram':25,'Raheem':30,'Robert':3}
for i in range(len(d1)):
    print(i)

0
1
2

**create a empty dicionary and update**

In [70]:
s=' '  #in string
for i in 'apple':
    s=s+i
print(s)

 apple

In [71]:
d1={}
d1['fruit']='Apple'
d1

{'fruit': 'Apple'}

In [80]:
d1={}
d1['Name']='Awesh Khan'
d1['Company']='UMRF'
d1['Age']=27
d1

{'Name': 'Awesh Khan', 'Company': 'UMRF', 'Age': 27}

In [82]:
#WAP create a dictionary based on two lists
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
d1={}
for i,j in zip(list1,list2):
    d1[i]=j
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [84]:
d1={}
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
for i in range((len(list1))):
    d1[list1[i]]=list2[i]
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [89]:
dd=zip(list1,list2)
print(dd)
print(dict(dd))

<zip object at 0x000002BEB3B33400>
{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [91]:
d1={}
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
for i in range((len(list1))):
    d1[list1[i]]=list2[i]


dict1={list1[i]:list2[i] for i in range((len(list1)))}
print(dict1)

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [96]:
#WAP create a dictionary based on two lists
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
d1={}
for i,j in zip(list1,list2):
    d1[i]=j
dict11={d1[i]:j for i,j in zip(list1,list2)}
dict12={i:j for i,j in zip(list1,list2)}
print(dict12)
print(dict11)
print(d1)

{'Ram': 25, 'Raheem': 30, 'Robert': 35}
{25: 25, 30: 30, 35: 35}
{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [103]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
new=zip(list1,list2)
new

In [104]:

print(dict(new))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [1]:
#WAP takes 5 random number
# and create a dictionary with even and odd
import random
d1={}
even_list=[]
odd_list=[]
for i in range(5):
    num=random.randint(0,100)
    if num%2==0:
        even_list.append(num)
    else:
        odd_list.append(num)


print(even_list)
print(odd_list)

[58, 6, 84, 96]
[33]

In [112]:
d1["even num"]=even_list
d1['odd num']=odd_list
d1

{'even num': [94, 42, 14], 'odd num': [87, 11]}

In [122]:
dd=[num if num%2==0 else num for i in range(5)]

***6. Write a Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers.
Sample data : 3, 5, 7, 23***  
Output :  
 - List : ['3', ' 5', ' 7', ' 23']  
 - Tuple : ('3', ' 5', ' 7', ' 23')

In [141]:
a=3,5,7,23
l=[]
for i in a:
    b=(l.append(str(i)))
print(l)

['3', '5', '7', '23']

In [142]:
t=tuple(l)
t

('3', '5', '7', '23')

In [145]:
import random

even_list = []
odd_list = []

for i in range(5):
    num = random.randint(0, 100)
    if num % 2 == 0:
        even_list.append(num)
    else:
        odd_list.append(num)

# Creating a dictionary with even and odd keys
result_dict = {"even": even_list, "odd": odd_list}

# Printing the result
print("Even List:", even_list)
print("Odd List:", odd_list)
print("Result Dictionary:", result_dict)

Even List: [14, 86]
Odd List: [51, 61, 57]
Result Dictionary: {'even': [14, 86], 'odd': [51, 61, 57]}

In [154]:
import random

nd = {"even": [num for _ in range(5) if (num := random.randint(0, 100)) % 2 == 0],
               "odd": [num for _ in range(5) if (num := random.randint(0, 100)) % 2 != 0]}

print("Result Dictionary:", nd)

Result Dictionary: {'even': [34, 92, 88, 72, 26], 'odd': [43, 53, 53, 97]}

In [221]:
import random

rn = [random.randint(0, 100) for _ in range(5)]

new_dict = {"even": [num for num in rn if num % 2 == 0],
               "odd": [num for num in rn if num % 2 != 0]}

print("Result Dictionary:", new_dict)

Result Dictionary: {'even': [94, 32], 'odd': [97, 5, 61]}

In [9]:
import random

rn = [random.randint(0, 100) for x in range(5)]

new_dict = {"even": [num for num in rn if num % 2 == 0],
               "odd": [num for num in rn if num % 2 != 0]}

print("Result Dictionary:", new_dict)

Result Dictionary: {'even': [32, 14, 92, 2], 'odd': [91]}