In [2]:
#index
list1=[1,2,3,4,5,'python',"s"]
list1.index(5)

4

In [3]:
#insert
list1=[1,2,3,4,5,'python',"s"]
list1.insert(2,100)   # Insert 100 at index 2
list1                 #with using index we can add value at any index

[1, 2, 100, 3, 4, 5, 'python', 's']

In [7]:
#insert
list1=[1,2,3,4,5,'python',"s"]
list1.insert(2,"Hi")   # Insert Hi at index 2
list1

[1, 2, 'Hi', 3, 4, 5, 'python', 's']

In [8]:
#append
list2=[1,2,3,4,5,'python',"s"]    #Append
list2.append(56)                  #append will come at last
list2

[1, 2, 3, 4, 5, 'python', 's', 56]

In [10]:
#reverse 
list3=[1,2,3,4,5,'python',"s"]
list3.reverse()                  #reverse is a method
list3

['s', 'python', 5, 4, 3, 2, 1]

In [11]:
#reversed
list3=[1,2,3,4,5,'python',"s"]
for i in reversed(list3):   #Reversed is a keyword it can  use with a loop
    print(i)

s
python
5
4
3
2
1

In [19]:
#reversed
list3 = [1, 2, 3, 4, 5, 'python', "s"]
list4 = list(reversed(list3))     #with using list and reversed without using loop

print("Original List:", list3)
print("Reversed List:", list4)

Original List: [1, 2, 3, 4, 5, 'python', 's']
Reversed List: ['s', 'python', 5, 4, 3, 2, 1]

In [22]:
#sort
list3 = [100, 500, 300, 250, 500]   #only take integer and float or  string at one time if you use both you will get error
list3.sort()      
list3

[100, 250, 300, 500, 500]

In [25]:
#sort
list3=['a','d','t','f','t','python','hello']   #fisrt capital letter will come after small letter
list3.sort()              
list3

['a', 'd', 'f', 'hello', 'python', 't', 't']

In [26]:
#sort
list3=['a','D','t','f','To','python','Hello']   #fisrt capital letter will come after small letter
list3.sort()              
list3

['D', 'Hello', 'To', 'a', 'f', 'python', 't']

In [27]:
#sorted
list1=[200,500,100,300,1000,250]
nlist=[]
for i in sorted(list1):
    nlist.append(i)
print(nlist)

[100, 200, 250, 300, 500, 1000]

In [34]:
list1=['A','Z','Awesh Khan','Python','data Science','python']
nlist=[]
for i in sorted(list1):
    nlist.append(i)
print(nlist)

['A', 'Awesh Khan', 'Python', 'Z', 'data Science', 'python']

In [31]:
list1 = ["apple", "banana", "cherry", "dates","Pnieapple"]

# Sort by the length of the words
listn = sorted(list1, key=len)    #using key=ken by default it alphabatically

print("Original List:", list1)
print("Sorted List by Length:", listn)

Original List: ['apple', 'banana', 'cherry', 'dates', 'Pnieapple']
Sorted List by Length: ['apple', 'dates', 'banana', 'cherry', 'Pnieapple']

In [33]:
list1 = ["apple", "banana", "Cherry", "dates","Pnieapple"]

# Sort by the length of the words
listn = sorted(list1,)    #using key=ken by default it alphabatically first Captial letter then small

print("Original List:", list1)
print("Sorted List by Length:", listn)

Original List: ['apple', 'banana', 'Cherry', 'dates', 'Pnieapple']
Sorted List by Length: ['Cherry', 'Pnieapple', 'apple', 'banana', 'dates']